@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;  
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: #ecf1f39f;
    color: #0f141e;
}

.container {
    max-width: 800px;
    margin:auto;
}

.img {  
    height: fit-content;
    box-shadow: 4px 4px 14px rgba(16, 14, 14, 0.623);
    border:rgba(132, 179, 197, 0.452) solid 6px;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.info-text {
    margin-bottom: 20px;
}


.info-text p {
    font-style: italic;
    font-weight: 600;
    color: #595a5a;
    margin-top: 10px;
    margin-bottom: 15px;
}

.img-txt {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.img-txt .info-text {
    margin-top: 30px;
    margin-left: 30px;
}

.card-1 {
    border-radius: 10px;
    background-color: rgba(239, 167, 103, 0.51);
    padding: 5px 0px 10px 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}  

.card-2 {
    border-radius: 10px;
    background-color: rgba(74, 77, 165, 0.5);
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-2-head {
    padding-left: 10px;
}

.card-3 {
    border-radius: 10px;
    background-color: rgba(64, 175, 42, 0.5);
    padding: 5px 0px 10px 30px;
    margin-top: 10px;
    margin-bottom: 20px;  
}

.card-3 a {
    border-bottom: 1px #9a9a9a solid;
}

.contacts {
    border-radius: 10px;
    background-color: rgba(215, 154, 219, 0.675);
    padding: 5px 0px 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form h2 {
    text-align: center;
}

.form-group label {
    display:block;
    font-size: 14px;
    color: black;
}
.form-group input, textarea {
    width: 95%;
    box-sizing: border-box;
    border: none;
    background: #efdeece6;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 10px;
    color: #0c0c0c;
}

.form-group textarea {
    /* radius: 15% 15%; */
}

.form-row {
    margin-bottom: 10px;
    display:flex;
}

.form-row .form-group{
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* box-sizing: border-box; */
}

.form-row .form-group: :last-child {
    margin-right: 0;
}

/* тут табличка */
.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #8780ec;
	font-size: inherit;
}
.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: inherit;
	vertical-align: top;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}
.table td:hover {
    background: #4c1ee1;
    color: white;
}
.table a:hover {
    background: #4c1ee1;
    color: white; 
}

/* кнопки */
.btn {
    background: black;
    padding: 15px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}   

.btn:hover {
    opacity: 0.8;
}

/* Ссылки */
a:link {
    color: black;
    text-decoration: none;
    font-size: normal;
}

a:visited {
    color:#465050;
 }

a:hover {
    color: orange;
    font-size:;
    text-decoration: underline;
}

a:active {
    color:red;
}

@media(max-width:650px) {
    .img-txt {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        margin: auto;
    }
    .img {
        margin-left: 0px;
    }
    .img-txt .info-text {
        margin: auto 
    }
    .form-row {
        margin-bottom: 10px;
        display:block;
    }
    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .table {
        width: 100%;
        border: none;
        margin-bottom: 20px;
        overflow-x: auto;
    }
    .table thead tr th {
        overflow-x: auto;
    }
    .table tbody tr td {
        overflow-x: auto;
    }
    .table tbody thead {
        overflow-x: auto;
    }
}
@media(max-width:350px) {
    .table thead th {
        font-weight: bold;
        text-align: left;
        border: none;
        padding: 0 8px 0 8px;
        background: #8780ec;
        font-size: inherit;
    }
    .table tbody td {
        text-align: left;
        border: none;
        padding: 0 8px 0 8px;
        font-size: inherit;
        vertical-align: top;

}
* {
    overflow-x: auto;
}
}