@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;  
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: #ecf1f355;
    color: #0f141e;
}

.container {
    max-width: 800px;
    margin:auto;
}

.info {  
    width:400;
    height: fit-content;
    box-shadow: 4px 4px 14px rgba(16, 14, 14, 0.623);
    border:rgba(132, 179, 197, 0.452) solid 6px;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.info-text {
    margin-bottom: 20px;
}

.info-text p {
    font-style: italic;
    font-weight: 600;
    color: #595a5a;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card-1 {
    border-bottom-width: 20px;
    border-radius: 10px;
    background-color: rgba(239, 167, 103, 0.51);
    padding: 5px 0px 10px 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-2 {
    border-radius: 10px;
    background-color: rgba(74, 77, 165, 0.5);
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-2-head {
    padding-left: 10px;
}

.card-3 {
    border-radius: 10px;
    background-color: rgba(64, 175, 42, 0.5);
    padding: 5px 0px 10px 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contacts {
    border-radius: 10px;
    background-color: rgba(41, 44, 40, 0.441);
    padding: 5px 0px 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;

}

/* тут табличка */
.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #8780ec;
	font-size: 14px;
}
.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}